python-dotenv

psycopg[binary,pool]
pgvector

langgraph
langchain
langchain-google-genai
langgraph-checkpoint-postgres
langchain-community
langchain-core
langfuse

resend

pydantic
pydantic-settings

fastapi
uvicorn